.profile {
  background: radial-gradient(
      farthest-side at top left,
      rgba(255, 153, 0, 0.3),
      transparent 100px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(156, 50, 255, 0.4),
      transparent 100px
    ),
    radial-gradient(farthest-corner at bottom, #5a56af, transparent 200px),
    radial-gradient(farthest-corner at top, #99afd5, transparent 400px),
    radial-gradient(farthest-corner at right, #4e54b2, transparent 400px);

  box-shadow: 0px 0px 5px #4b4c4efd;
  width: unset !important;
  border-radius: 0px !important;
  border: 1px solid #4b4c4e42;

  margin: 0 16px;
  display: flex;

  align-items: center;
  border-radius: 8px !important;
}

.trainer-subject {
  width: unset !important;
  margin: 0 16px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff00cc 0%,
    #333399 51%,
    #ff00cc 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.card__result {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  width: fit-content !important;

  .ant-statistic-content-suffix {
    color: rgb(145, 145, 145) !important;
  }
}
